/* PC */
@media(min-width: 1024px) {
    
}

/* Tablet & mobile */
@media(max-width: 1023px) {
    .btn {
        padding: 15px 16px
    }
    #nav .subnav a {
        padding: 5px 12px;
    }
    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }
    #footer .social {
        font-size: 48px;
    }
    #footer .social a  {
        margin: 0 8px;
    }
    .contact-info {
        line-height: 2;
    }
}
/* Tablet */
@media(min-width: 740px) and (max-width: 1023px) {
}
/* Mobile */
@media(max-width: 739px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    #header {
        overflow: hidden;
    }
    #header .search-button {
        display: none ;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav li a {
        padding: 1 24px;
    }
    #nav .subnav {
        position:initial;
    }
    #nav .subnav li {
        background-color: black;
    }
    #nav .subnav li a {
        color: white;
        line-height: 38px;
        text-decoration: none;
        padding: 5px 41px;
    }
    #nav>li {
        display: block;
    }
    #nav>li:first-child {
        display: inline-block;
    }
    #content .member-ava {
        width: 60%;
    }
    .contact-form {
        margin-top: 32px;
    }
    .contact-submit-btn {
        font-size: 16px;
    }
}