/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End reset CSS */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* Common */
.text-white {
    color: white !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    clear: both;
    display: block;
    content: "";
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: calc(100% /3);
}
.col-half {
    width: 50%;
}
.text-center {
    text-align: center;
}
.col-full {
    width: 100%;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.mt-32 {
    margin-top: 32px !important;
}
.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 20px;
    border: none;
    text-align: center;
    -webkit-appearance: none;
}
.btn:hover {
    color: black;
    background-color: grey;
    cursor: pointer;
}
.pull-right {
    float: right;
}
/*End common  */
#wrapper {
}
/* Header */
    /* Nav bar */
#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav {
    position: relative;
    list-style-type: none;
    display: inline-block;
}
#nav>li {
    display: inline-block;
}
#nav>li>a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    text-transform: uppercase;
    color: white;
}
#nav li:hover .subnav {
    display: block;
}
#nav>li:hover>a {
    color: black;
    background-color: grey;
    display: inline-block;
}
#nav .nav-arrow-down {
    font-size: 10px;
}
#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
 #nav .subnav li {
     background-color: white;  
}
#nav .subnav li a {
    color: black;
    line-height: 38px;
    text-decoration: none;
    padding: 0 12px;
}
#nav .subnav li:hover a {
    color: black;
    background-color: grey;
    display: block;
}
        /* Mobile-menu, search-menu */
#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-button {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .mobile-icon,
#header .search-icon {
    color: white;
    line-height: 46px;
    font-size: 15px;
}
        /* End mobile, search */
    /* End nav */
/* End header */

/* Slider */
#slider {
    margin-top: 46px;
    padding-top: 50%;
    background-image:url('../img/band.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
}
#slider .text-heading {
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
}
#slider .description {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
    
}
/* End slider */

/* Begin content */
#content {
    min-height: 500px;
}
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 6px;
}
#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 60%;
}
#content .about-text {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 25px;
}
#content .member-list {
    margin-top: 32px;
}
#content .member-name {
    font-size: 15px;
}
#content .member-ava {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}
#content .tour-section {
    background-color: black;
}
.ticket-list {
    background-color: white;
    margin-top: 40px;
}
.ticket-list li {
    color: #757575;
    list-style-type: none;
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
}
.ticket-list .sold-out {
    background-color: red;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;

}
.ticket-list .quantity {
    background-color: black;
    color: white;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.place-list {
    margin-top: 16px;
    margin-bottom: 48px;
}
.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body {
    background-color: white;
    padding: 16px;
    font-size: 15px;
}
.place-name {
    font-size: 15px;
    font-weight: bold
}
.place-time {
    margin: 15px 0;
    opacity: 30%;
    color: #757575;
    line-height: 1.4;
}
.place-description {
}
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.6;
}
.contact-info i {
    width: 30px;
    display: inline-block;
}
.contact-info a {
    opacity: 0.8;
}
.contact-info a:hover {
    opacity: 1;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.map-section {
    width: 100%;
}
.map-img {
    width: 100%;
}
#footer {
    text-align: center;
    padding: 64px 16px;
}
#footer .social a  {
    color: rgba(0, 0, 0, 0.6);
    font-size: 40px;
}
#footer .social a:hover {
    color: rgba(0, 0, 0, 0.3);
}
#footer .text-contact {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
}